.header_text{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: 600;
}
.footer_text-size{
        text-align: center;
}
.footer_text{
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: 400;
}
.list{
        border: 2px solid black;
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: top;
        width: 150px;
        position: relative;
        margin: 15px;
}
.product{
        width: 120px;
        height: 120px;
        background: white;
        margin: 10px;
        text-align: center;
        display: inline-block;
        padding: 5px auto;

}
.product_list{
        width: 100%;
        margin:0px auto;
        min-height:89%;
}
.type{
        margin: 10px auto;
}
.container{
        top: 10px;
        left: 10px;
}
.article{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 166px
}
